.loading-wrap {
  position: relative;
  width: 100px;
  height: 200px;
  left: 50%;
  top: 50px;
}

.loading-drop {
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  animation: loading-drop 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s infinite;
}

.loading-drop rect {
  fill: #2a96ed;
}

.loading-drop-outer {
  position: absolute;
  box-sizing: border-box;
  /* border: 1px solid #333; */
  width: 100px;
  height: 200px;
  overflow: hidden;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  background-clip: padding-box;
  -webkit-mask-image: -webkit-radial-gradient(rect, white 100%, black 100%);
}

.loading-ripple {
  position: absolute;
  box-sizing: border-box;
  width: 240px;
  height: 240px;
  top: 68px;
  left: -70px;
  perspective: 100;
  transform: rotateX(65deg);
}

.loading-ripple .loading-ripple-svg {
  position: absolute;
  width: 240px;
  height: 240px;
  opacity: 0;
}

.loading-ripple .loading-ripple-svg rect {
  fill: none;
  stroke: #2a96ed;
  stroke-width: 10px;
  stroke-alignment: inner;
}

.loading-ripple-1 {
  animation: loading-ripple 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s infinite;
}

.loading-ripple-1 .loading-ripple-svg {
  animation: loading-fade-in-out 2s linear 0s infinite;
}

.loading-ripple-1 .loading-ripple-svg rect {
  animation: loading-border 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s infinite;
}

.loading-ripple-2 {
  animation: loading-ripple 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s
    infinite;
}

.loading-ripple-2 .loading-ripple-svg {
  animation: loading-fade-in-out 2s linear 0.2s infinite;
}

.loading-ripple-2 .loading-ripple-svg rect {
  animation: loading-border 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s
    infinite;
}

.loading-ripple-3 {
  animation: loading-ripple 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s
    infinite;
}

.loading-ripple-3 .loading-ripple-svg {
  animation: loading-fade-in-out 2s linear 0.35s infinite;
}

.loading-ripple-3 .loading-ripple-svg rect {
  animation: loading-border 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s
    infinite;
}

@keyframes loading-drop {
  0% {
    transform: scale3d(0.01, 0.01, 0.01) translateY(0);
  }
  10% {
    transform: scale3d(1, 1, 1);
  }
  44% {
    transform: scale3d(1, 1, 1) translateY(200px);
  }
  100% {
    transform: scale3d(1, 1, 1) translateY(200px);
  }
}

@keyframes loading-fade-in-out {
  0% {
    opacity: 0;
  }
  42% {
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading-ripple {
  0% {
    transform: rotateX(65deg) scale3d(0.2, 0.2, 0.2);
  }
  42% {
    transform: rotateX(65deg) scale3d(0.2, 0.2, 0.2);
  }
  100% {
    transform: rotateX(65deg) scale3d(0.9, 0.9, 0.9);
  }
}

@keyframes loading-border {
  0% {
    stroke-width: 6px;
  }
  42% {
    stroke-width: 6px;
  }
  100% {
    stroke-width: 2px;
  }
}
